doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie-edge')
  script(src="//code.jquery.com/jquery-3.4.1.min.js")
  link(rel='stylesheet' type='text/css' href='css/style.css')
  link(rel='stylesheet' type='text/css' href='css/profile.css')
  link(rel='stylesheet' type='text/css' href='css/animations.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css')
  //script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  //script(src="https://harvesthq.github.io/chosen/chosen.jquery.js")
  //link(href="https://harvesthq.github.io/chosen/chosen.css" rel="stylesheet" type="text/css")
  title Berri Profile

  .row
    .box-1
      .imageSection.circleCrop.verticalAlign
        img#prof.circleCrop(src = userData.prof_pic alt='Profile Pic' onclick="newProfPic()")
        .overlay.circleCrop(onclick="newProfPic()")
          #pfpText(onclick="newProfPic()") Change Profile Picture
    .box-2
      .section#headerSection
        .heading Hello, #{userData.first}      
        form#accessMessageBoard(method="post" action="messageBoard")
          input(name="newTutor" value=false style="display:none")
        .imgContainer.circleCrop
          img(src="https://i.postimg.cc/W4dRsw-RV/speech-bubble.png" onclick="document.getElementById('accessMessageBoard').submit()")
  .row
    .box-3
      .section#sect3
        #noContent
          p Looks like you aren't a tutor yet!
          a.button#becomeTutor(href='/becomeTutor') Become a Tutor
        #yesContent
          #yourSubjects Your Subjects
          #subjects
          #status
          form#toggleStatus(method="post" action="toggleActiveStatus")
            .button
              input(type='submit' value='Toggle')

    .box-4
      .section.column
        .col-1
          form#subjectForm(method="GET" action="foundTutors")
            .dropdown
              input.greyBubble#chooseSubject(type='text' name='chosenSubject' placeholder='What do you need help with?' autocomplete="off")
              #dropdownContent
            input.greyBubble(type='submit' value='→')
        .col-2
          .heading ...or search tutors by
          form#searchForm(method="get" action="searchTutor")
            input.greyBubble#searchEmails(type='text' name="searchTutor" placeholder="email")
            //- a(class="button" id="searchBtn" href="javascript:{}" style="color:black" onclick="document.getElementById('searchForm').submit();") Search
  form#signupformA(action='logout' method='post')
    .button(id = "fixedButton")
      input(type='submit' value='Logout')

form#newPfpForm(action='newPfp' method='post' style = "display:none" enctype="multipart/form-data")
  input#myFile(type='file' name='pfp')

p.hidden(id='userData')
p.hidden(id='tutorData')
p.hidden(id='tutorSubjects')

script.
  document.getElementById('userData').value = !{JSON.stringify(userData)};
  document.getElementById('tutorData').value = !{JSON.stringify(tutorData)};
  document.getElementById('tutorSubjects').value = !{JSON.stringify(tutorSubjects)};

script(src="js/profileView.js")

